<div class="site-footer">
    <div class="footer-top">
        <div class="wrapper">
            <div class="row">
                <div class="col-lg-6">
                    <h5>SOCIAL MEDIA</h5>
                    <h6>FOLLOW THE REDAKT</h6>
                    <div class="widget-social-icons">
                        <ul>
                            <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h5>NEWSLETTER</h5>
                    <h6>WE LOVE TO SHARE NEW OFFERS AND EXCLUSIVE PROMOTIONS</h6>
                    <div class="widget-newsletter">
                        <form>
                            <input type="text" placeholder="ENTER YOUR E-MAIL ADDRESS" required>
                            <button type="submit"><i class="fa fa-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="wrapper">
            <div class="footer-logo">
                <img src="/assets/img/logo.png" alt="The Redakt Hotel">
            </div>
            <div class="footer-copyright">
                <p>COPYRIGHT &copy;@DateTime.Today.Year THE REDAKT HOTEL</p>
            </div>
            <div class="footer-contact">
                <ul>
                    <li><i class="fa fa-map-marker"></i> LONGRIDGE ROAD, EARLS COURT, LONDON</li>
                    <li><i class="fa fa-phone"></i> +1-800-123-45-67</li>
                    <li><a href="mailto:info@redaktcms.com"><i class="fa fa-paper-plane"></i> INFO@REDAKTCMS.COM</a></li>
                </ul>
            </div>
            <div class="footer-nav">
                <ul>
                    <li><a href="#">SITEMAP</a></li>
                    <li><a href="#">PRIVACY POLICY</a></li>
                    <li><a href="#">TERMS OF USE</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
